<h1>Admin::Dashboard</h1>

<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      PRODUCTS
    </div>
    <div class="col">
      CATEGORIES
    </div>    
  </div>
  <div class="row">
    <div class="col">
      <%= @all_products %>
    </div>
    <div class="col">
      <%= @all_categories %>
    </div>    
  </div>
</div>




